# Drizzle
# Replace with your DB credentials!
DATABASE_URL="libsql://db-name-user.turso.io"
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"
DATABASE_AUTH_TOKEN=""

# Cloudflare R2
R2_ACCOUNT_ID="3f7a7e1b4e84b05d7069019ba14e187f"
R2_ACCESS_KEY_ID="61c09ce718f6613083f8b559af76ce53"
R2_SECRET_ACCESS_KEY="95e0e46ae4070358167e1032cabebe0794a9e7c8f1ae823775333d523e8f43f3"
R2_BUCKET_NAME="ships"
